<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Hospital Materno Infantil San Roque</h1> - <h3>(2022-Actualidad)</h3>
            </li>
            <p>Desempeñandome como tecnica enfermera de la ciudad de Paraná, Entre Ríos en diferentes servicios tanto de pediatría como de obstetricia y maternidad, realizando tareas tanto de educación como técnicas en áreas como traumatología, maternidad, neonatología, obstetricia, etc.</p>
        </ul>
        <ul>
            <li>
                <h1>Domicilios Particulares</h1> - <h3>(2022-2023)</h3>
            </li>
            <p>Desempeñandome como enfermera con pacientes que tienen alto grado de dependencia para la vida diario, con SNG, TQT, Vías periféricas, etc.</p>
        </ul>
    </div>
</div>
