<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Portfolio</h1>
            <P>El presente proyecto fue realizado en el marco de la 4ta edicion del programa Argentina Programa, especificamente en la segunda etapa del mismo, denominada "Yo Programo", llevado a cabo por el Ministerio de Economia de la Republica Argentina en conjunto con el INTI. El mismo, consiste en un Portfolio personal, donde se utilize lenguajes como JavaScript, CSS, HTML5 y utilizando tambien Angular y GitHub. </P>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/porftolio.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
    
