<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto perfil.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Sanabria Gabriela Abigail</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Tengo 23 años, soy enfermera y me defino como alguien comprometida con mi tarea, me gustan los desafios porque me enseñan a adquirir conocimientos y a superarme a mi misma.
                Me caracterizo por tener un caracter tranquilo y amable ademas de tener aptitudes tales como el trabajo en equipo,  superacion personal constamte, el compromiso con el projimo ya sea profesional como personal</p>
        </span>
    </div>
</div>

