<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="APLogo">
        </div>
        <div class="redes">
                <a href="https://www.linkedin.com/in/gabriela-sanabria-69b3251b2/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://www.instagram.com/gabu.sanabria/"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href="https://github.com/GabrielaSanabria"><img src="../../../assets/github.png" id="github"></a>
                <a href="https://www.facebook.com/gabriela.sanabria.5245/"><img src="../../../assets/facebook.png " id="facebook"></a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
        </div>
    </div>
</div>

